* {
  margins: 0;
}

body {
  background-color: #e79853;
  color: rgb(238, 169, 169);
  background: url(Jazzpics/SmoothJazz.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.page-title {
  font-family: "Satisfy", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 150px;
  text-align: center;
  color: crimson;
  text-shadow: 0px 2px rgba(232, 165, 255, 0.07);
}

.navmenu {
  font-family: "Satisfy", sans-serif;
  font-size: 2rem;
  color: crimson;
}

.article {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
}

.navmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navmenu li {
  padding: 1rem;
}

.navmenu li:hover {
  background: #e79853;
  cursor: pointer;
  border-radius: 10px;
}

.musician-img img {
  float: right;
}

@media screen (max-width: 1024px) {
  .navmenu {
    display: flex;
  }
  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6 {
    height: 100vh;
  }
  .first-sect,
  .second-sect,
  .third-sect,
  .fourth-sect,
  .fifth-sect {
    padding: 1rem 20%;
  }
  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6 {
    align-content: center;
  }
}

@media screen (max-width: 300px) {
  .first-sect,
  .second-sect,
  .third-sect,
  .fourth-sect,
  .fifth-sect {
    padding: 1rem 20%;
  }
  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6 {
    display: flex;
    padding: 1rem 5%;
    height: 100vh;
    width: 100vw;
  }
}
